__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.DS_Store
logs/
output/
data/
.temp/
temp/
.venv/
*.log
dist/
build/
*.spec.bak
.pytest_cache/
.mypy_cache/
bin/macos/ffmpeg
bin/macos/ffprobe
bin/windows/*.exe
